@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
	margin: 0%;
	padding: 0%;
}
p{
	margin-top: 5%;
}
.main{
	width: 100%;
	height: 120vh;
	background-color: #588157;
}
img{
	border: 5px solid #344e41
}
p{
	font-size: 40px;
}
h1{
	font-size: 60px;
}
.content1{
	right: 100px;
}
.content1 img{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 760px;
	height: 440px;
}
.content1 p{
	position: absolute;
	top: 400px;
	right: 0px;
	margin-left: 1100px;
	font-size: 25px;
}
.content1 p1{
	position: absolute;
	top: 800px;
	margin-left: 1100px;
	font-size: 25px;
}
.content3 img{
    position: absolute;
	top: 0px;
	left: 0px;
	width: 760px;
	height: 440px;
}
.content3 h1{
	position: absolute;
	top: 440px;
}
.content3 p{
	position: absolute;
	top: 450px;
	font-size: 40px;
}
.content3 p1{
	position: absolute;
	top: 700px;
	font-size: 40px;
}
.content3 p2{
	position: absolute;
	top: 800px;
	font-size: 35px;
	left: 0px;
}
.content3 p3{
	position: absolute;
	top: 950px;
	font-size: 40px;
	left: 0px;
}
.main1{
	background-color: #3a5a40;
	width: 100%;
	height: 120vh;
}
.content1 p2{
	position: absolute;
	top: 900px;
	margin-left: 1100px;
	font-size: 25px;
}
.main2{
	background-color: #598392;
	width: 100%;
	height: 120vh;
}